.time-container{
  font-size: 10em;
  /* margin-left: 20%; */
  /* margin-top: 20%; */
  text-align: center;
}

.control-panel{
  display: flex;
  justify-content: center;
}

.button{
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 24%;
  height: 5%;
  line-height: 45px;
  border-radius: 45px;
  margin: 20px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: rgb(5, 5, 5);
  background: white;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}

.button[disabled] {
  background-color: lightgrey;
  color: rgb(100, 97, 97);
  pointer-events:none;
}

.green-button {
  background-color: #00ff00e0;
}

.reset-button {
  background-color: red;
}

button:hover {
  background: #2ee59cde;
  box-shadow: 0 15px 20px rgba(46,229,157,.4);
  color: white;
  transform: translateY(-7px);
}
